@model Blog_Posting.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    <div class="container">
        <div class="banner-btm-agile">
            <!-- //btm-wthree-left -->
            <div class="col-md-9 btm-wthree-left">
                <div class="single-left">
                    <div class="single-left1">
                        @if (Model.MediaUrl != null)
                        {
                            <img class="img-responsive" src="@Model.MediaUrl" alt="">
                        }

                        <h3> @Html.DisplayFor(model => model.Title)</h3>
                        <ul>
                            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>@Html.DisplayFor(model => model.Created)</li>
                        </ul>
                        <h4>
                            @Html.Raw(Model.Body)
                        </h4>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-warning" />
                                <button class="btn btn-warning">@Html.ActionLink("Back to List", "Index")</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- //btm-wthree-right -->
        <div class="clearfix"></div>
    </div>



</div>
