@using PagedList;
@using PagedList.Mvc;
@model Blog_Posting.Models.BlogIndexViewModel

@{
                /**/

                ViewBag.Title = "Index";
                var pagedList = (IPagedList)Model.AllPosts;
}

<div class="agile-banner">
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active">Posts</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="container">
    <p>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="agileits w3layouts" href="@Url.Action("Create","BlogPosts")">Create New</a>
        }
    </p>
    <div class="banner-btm-agile">
        <!-- //btm-wthree-left -->
        <div class="col-md-9 btm-wthree-left">
            <div class="agileits_heading_section">
                <h3 class="wthree_head">Posts</h3>
            </div>
            <div class="events w3">
                <div class="events-main">
                    @foreach (var item in Model.AllPosts)
                    {
                        <div class="events-top">
                            <div class="col-md-6  w3ls fea-left">
                                <div class="w3agile_special_deals_grid_left_grid">
                                    <a href="singlepage.html">
                                        @if (item.MediaUrl != null)
                                        {
                                            <img class="img-responsive" src="@item.MediaUrl" alt="@item.MediaUrl">
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 wthree fea-right">
                                <h3>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </h3>
                                <p>
                                    Created on  @item.Created.ToString("dd/MM/yyyy HH:mm")
                                </p>
                                @if (User.Identity.IsAuthenticated && ((User.IsInRole("Admin")) || (User.IsInRole("Moderator"))))
                                {
                                    <a class="agileits w3layouts" href="@Url.Action("Edit","BlogPosts",new {id=item.Id  })">Edit</a>
                                    <a class="agileits w3layouts" href="@Url.Action("Delete","BlogPosts",new {id=item.Id })">Delete</a>
                                }
                                <a class="agileits w3layouts" href="@Url.Action("DetailSlug","BlogPosts",new {slug = item.Slug  })">Read More <span class="glyphicon agileits w3layouts glyphicon-arrow-right" aria-hidden="true"></span></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- //btm-wthree-left -->
        <!-- btm-wthree-right -->
        <div class="col-md-3 w3agile_blog_left">
            <div class="wthreesearch">
                <form action="@Url.Action("Index", "BlogPosts")" method="post">
                    <input type="search" name="searchString" placeholder="Search here" value="@ViewBag.SearchString">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>

            <div class="w3ls_recent_posts">
                <h3>Recent Posts</h3>
                @foreach (var item in Model.RecentPosts)
                {
                    <div class="agileits_recent_posts_grid">
                        <div class="agileits_recent_posts_gridl">
                            <div class="w3agile_special_deals_grid_left_grid">
                                <a href="@Url.Action("DetailSlug","BlogPosts",new {slug = item.Slug  })">
                                    @if (item.MediaUrl != null)
                                    {
                                        <img class="img-responsive" src="@item.MediaUrl" alt="@item.MediaUrl">
                                    }
                                </a>
                            </div>
                        </div>
                        <div class="agileits_recent_posts_gridr">
                            <h4><a href="@Url.Action("DetailSlug","BlogPosts",new {slug = item.Slug  })">@item.Title</a></h4>
                            <h5><i class="fa fa-calendar" aria-hidden="true"></i>@item.Created.ToString("dd/MM/yyyy HH:mm")</h5>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                }

            </div>

        </div>

        <!-- //btm-wthree-right -->
        <div class="clearfix"></div>
        <div>
            Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
            @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, ViewBag.searchString }))
        </div>
    </div>
</div>

